@model AntreDeuxVinsModel.Aliment

@{
    ViewData["Title"] = Localizer["Delete"]+"-"+Localizer["Aliments"];
}

<h2>@Localizer["Delete"]</h2>

<h3>@Localizer["DeleteMsg"]</h3>
<div>
    <h4>@Localizer["Aliments"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="Parent" value="@ViewBag.Parent" />
        <input type="hidden" name="ParentParent" value="@ViewBag.ParentParent" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-default" /> |
        @if (@ViewBag.Parent == null)
        {
            <a asp-action="Index">@Localizer["Back"]</a> 
        }
        else
        {
            <a asp-action="Details" asp-controller="Vins" asp-route-id="@ViewBag.Parent" asp-route-Parent="@ViewBag.ParentParent" asp-area="BackOffice">@Localizer["Back"]</a>
        }
    </form>
</div>
