@model AntreDeuxVinsModel.Aliment

@{
    ViewData["Title"] = Localizer["Edit"]+"-"+Localizer["Aliments"];
}

<h2>@Localizer["Edit"]</h2>

<h4>@Localizer["Aliments"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Parent" value="@ViewBag.Parent" />
            <input type="hidden" name="ParentParent" value="@ViewBag.ParentParent" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (@ViewBag.Parent == null)
    {
        <a asp-action="Index">@Localizer["Back"]</a>
    }
    else
    {
        <a asp-action="Details" asp-controller="Vins" asp-route-id="@ViewBag.Parent" asp-route-Parent="@ViewBag.ParentParent" asp-area="BackOffice">@Localizer["Back"]</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
