@model AntreDeuxVinsModel.Cave

@{
    ViewData["Title"] = Localizer["Details"]+"-"+Localizer["Caves"];
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>@Localizer["Caves"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Utilisateur.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Utilisateur.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back"]</a>
</div>
@await Html.PartialAsync("/Areas/BackOffice/Views/Caves/CaveVins.cshtml", Model.Vins, new ViewDataDictionary(this.ViewData) { { "CaveId", @Model.Id } })

