@model AntreDeuxVinsModel.LocalizableEntityTranslation

@{
    ViewData["Title"] = Localizer["Create"]+"-"+Localizer["EntityLanguage"];
}

<h2>@Localizer["Create"]</h2>

<h4>@Localizer["EntityLanguage"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateByEntity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocalizableEntityId" value="@ViewBag.EntityId" />
            <div class="form-group">
                <label asp-for="PrimaryKeyValue" class="control-label"></label>
                <input asp-for="PrimaryKeyValue" class="form-control" />
                <span asp-validation-for="PrimaryKeyValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldName" class="control-label"></label>
                <input asp-for="FieldName" class="form-control" />
                <span asp-validation-for="FieldName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="LanguageId" asp-items="ViewBag.Languages" class="form-control"></select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="LocalizableEntities" asp-route-id="@ViewBag.EntityId" asp-area="BackOffice">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
