@model AntreDeuxVinsModel.Pays

@{
    ViewData["Title"] = Localizer["Details"]+"-"+Localizer["PaysP"];
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>@Localizer["PaysP"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back"]</a>
</div>
@await Html.PartialAsync("/Areas/BackOffice/Views/Pays/PaysRegions.cshtml", Model.Regions, new ViewDataDictionary(this.ViewData) { { "PaysId", @Model.Id } })

