@model IEnumerable<AntreDeuxVinsModel.LocalizableEntityTranslation>
@{
    ViewData["Title"] = Localizer["EntityLanguages"];
}

<h4>@Localizer["EntityLanguage"]</h4>

<p>
    <a asp-area="BackOffice" asp-controller="LocalizableEntityTranslations" asp-action="CreateByEntity" asp-route-id="@ViewData["EntityId"]">@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="LocalizableEntityTranslations" asp-area="BackOffice" asp-route-id="@item.LocalizableEntity.Id" asp-route-idL="@item.Language.Id" asp-route-Parent="@ViewData["EntityId"]" >@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-controller="LocalizableEntityTranslations" asp-area="BackOffice" asp-route-id="@item.LocalizableEntity.Id" asp-route-idL="@item.Language.Id" asp-route-Parent="@ViewData["EntityId"]" >@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-controller="LocalizableEntityTranslations" asp-area="BackOffice" asp-route-id="@item.LocalizableEntity.Id" asp-route-idL="@item.Language.Id" asp-route-Parent="@ViewData["EntityId"]" >@Localizer["Delete"]</a>
            </td>
        </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <p>No Data</p>
                </td>
            </tr>
        }

    </tbody>
</table>

