@model IEnumerable<AntreDeuxVinsModel.LocalizableEntity>

@{
    ViewData["Title"] = Localizer["Index"]+"-"+ Localizer["Entity"];
}

<h2>@Localizer["Index"]</h2>

<p>
    <a asp-action="Create">@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EntityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryKeyFieldName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryKeyFieldName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
