@{
    ViewData["Title"] = Localizer["Home"]+"-"+Localizer["BackOffice"];
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Model"]
            </th>
            <th>
                @Localizer["Size"]
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["Aliments"] :
            </td>
            <td>
                @ViewBag.AlimentsSize
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["Caves"] :
            </td>
            <td>
                @ViewBag.CavesSize
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["Couleurs"] :
            </td>
            <td>
                @ViewBag.CouleursSize
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["PaysP"] :
            </td>
            <td>
                @ViewBag.PaysSize
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["Regions"] :
            </td>
            <td>
                @ViewBag.RegionsSize
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["Roles"] :
            </td>
            <td>
                @ViewBag.RolesSize
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["Utilisateurs"] :
            </td>
            <td>
                @ViewBag.UtilisateursSize
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["Vins"] :
            </td>
            <td>
                @ViewBag.VinsSize
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["Languages"] :
            </td>
            <td>
                @ViewBag.LanguagesSize
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Nombre"] @Localizer["Entitys"] :
            </td>
            <td>
                @ViewBag.EntitysSize
            </td>
        </tr>
    </tbody>
</table>
